@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    display: flex;
    width: auto;
    height: auto;
    padding: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, var(--main-color, #171717) 0%, var(--main-color, #171717) 100%), #FFF;
}

h1 {
    align-self: stretch;
    color: var(--WhiteText, #FDFAF6);
    text-align: center;
    font-size: 77px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 991px;
    height: 60px; 
    background: var(--SubMainColor, #222);
    border-radius: 50px;
    padding: 0 20px;
    transition: height 0.3s ease;
    margin-top: 20px;
}

.input-wrapper:focus-within {
    height: 120px; /* Tinggi input saat fokus */
    border-radius: 100px;
}

.input-wrapper img {
    width: 30px;
    height: 30px;
}

.input-wrapper input {
    flex: 1;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    outline: none;
}

