
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    height: auto;
    padding: 100px 20px 40px;
    flex-direction: column;
    align-items: center;
    gap: 66px;
    background: linear-gradient(0deg, #171717 0%, #171717 100%), #FFF;
}
nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    backdrop-filter: blur(20px);
    background: rgba(37, 37, 37, 0.8);
    /* border: 1px solid #B0DB9C; */
    border-radius: 50px;
    padding: 20px;
    box-shadow: #B0DB9C 0px 0px 10px 0px;
    transition: box-shadow 0.3s ease-in-out;
}

nav:hover {
    box-shadow: #B0DB9C 0px 0px 20px 0px;
    transition: box-shadow 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
nav ul li a {
    border: 0px;
    background: linear-gradient(0deg, #171717 0%, #171717 100%), #FFF;
    border-radius: 30px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #FFF;
}

#logout {
    background: #993131;
    cursor: pointer;
}

#logout:hover {
    background: rgb(255, 82, 82);
    color: #FFF;
}

nav ul li a:hover {
    background: #FFF;
    color: var(--SubMainColor, #222);
}

.container {
    display: flex;
    max-width: 800px;
    width: 100%;
    padding: 40px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    border-radius: 52px;
    background: var(--SubMainColor, #222);
}

.container h1 {
    font-size: 36px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
}

.PlanContainer{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.PlanItemContainer {
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: linear-gradient(0deg, #171717 0%, #171717 100%), #FFF;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.PlanItemContainer:hover {
    box-shadow: #B0DB9C 0px 0px 20px 0px;
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.PlanContainer h2 {
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    padding-top: 20px;
}

.PlanContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

.PlanContent p {
    font-size: 16px;
    color: #FFF;
    text-align: center;
    font-size: large;
    background-color: var(--SubMainColor, #222) ;
    border-radius: 10px;
    padding: 20px;
}

.PlanContent button {
    background-color: var(--SubMainColor, #222);
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease; 
}
.PlanContent button:hover {
    background-color: #FFF;
    color: var(--SubMainColor, #222);
}

@media (max-width: 375px) {
    nav {
        display: flex;
        padding: 8px 20px;
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }

    nav ul li {
        width: 100%;
        list-style: none;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    nav ul li a {
        width: 100%;
        background: linear-gradient(0deg, #171717 0%, #171717 100%), #FFF;
        border-radius: 30px;
        text-decoration: none;
        padding: 2.5px 6px;
        color: #FFF;
    }
    
    body {
        padding: 100px 30px 40px;
        gap: 30px;
    }

    .PlanContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .PlanItemContainer {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .container h1 {
        font-size: 24px;
        text-align: center;
    }

    .PlanContent{
        padding: 10px;
    }

    .PlanContent p {
        font-size: 14px;
        padding: 15px;
    }

    .PlanContent button {
        font-size: 14px;
    }
}