* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    height: auto;
    padding: 100px 20px 40px;
    flex-direction: column;
    align-items: center;
    gap: 66px;
    background: linear-gradient(0deg, #171717 0%, #171717 100%), #FFF;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    backdrop-filter: blur(20px);
    background: rgba(37, 37, 37, 0.8);
    /* border: 1px solid #B0DB9C; */
    border-radius: 50px;
    padding: 20px;
    box-shadow: #B0DB9C 0px 0px 10px 0px;
    transition: box-shadow 0.3s ease-in-out;
}

nav:hover {
    box-shadow: #B0DB9C 0px 0px 20px 0px;
    transition: box-shadow 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
nav ul li a {
    background: linear-gradient(0deg, #171717 0%, #171717 100%), #FFF;
    border-radius: 30px;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #FFF;
}

#logout {
    background: #993131;
    cursor: pointer;
}

#logout:hover {
    background: rgb(255, 82, 82);
    color: #FFF;
}

nav ul li a:hover {
    background: #FFF;
    color: var(--SubMainColor, #222);
}

.container {
    display: flex;
    max-width: 800px;
    width: 100%;
    height: 100vh;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    flex-shrink: 0;
    border-radius: 52px;
    background: var(--SubMainColor, #222);
}

.playlistContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #FFF;
}
.playlistList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.playlistItem {
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
    transition: all 0.3s ease-in-out;
    
}

.playlistItem:hover {
    background-color: #B0DB9C;
    color: #171717;
    
}

.playlistItem img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.playlistItem p {
    color: #FFF;
    transition: all 0.3s ease-in-out;
    font-weight: 800;
    cursor: pointer;
}

.playlistItem:hover p {
    color: black;
}

.deletebtn {
    padding: 10px;
    background-color: #AF3E3E;
    border: none;
    border-radius: 20px;
    color: #FFF;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.deletebtn:hover {
    background-color: #5a1f1f;
}

.HeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 375px) {
    h2 {
        font-size: 15px;
    }
    nav {
        display: flex;
        padding: 8px 20px;
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
    }

    nav ul li {
        width: 100%;
        list-style: none;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    nav ul li a {
        width: 100%;
        background: linear-gradient(0deg, #171717 0%, #171717 100%), #FFF;
        border-radius: 30px;
        text-decoration: none;
        padding: 2.5px 6px;
        color: #FFF;
    }
    
    body {
        padding: 100px 30px 40px;
    }

    .deletebtn {
        font-size: 8px;
        padding: 6px;
    }

    .playlistItem {
        padding: 10px;
    }

    .playlistItem img {
        width: 50px;
        height: 50px;
    }

    .playlistItem p {
        font-size: 10px;
    }
}


